#male{
    width:5%;
}

#female{
    width:5%;
}

#Other{
    width:5%;
}

#Married{
    width:5%;
}

#Unmarried{
    width:5%;
}

#Widow{
    width:5%;
}

.outbox{
    border: 1px solid red;
}

@media only screen and (min-width: 600px) {
    #male {
      width: 5%;
    }

    #female{
        width:5%;
    }
    
    #Other{
        width:5%;
    }
    
    #Married{
        width:5%;
    }
    
    #Unmarried{
        width:5%;
    }
    
    #Widow{
        width:5%;
    }
  }